<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComputerExam.Util.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ComputerExam.Util.Properties.Settings>
            <setting name="ComputerExam_Util_WebReference_ReJobDataHandler"
                serializeAs="String">
                <value>http://192.168.199.190/CD/ReJobDataHandler.asmx</value>
            </setting>
        </ComputerExam.Util.Properties.Settings>
    </applicationSettings>
</configuration>